body {
	font-family: Roboto, Garamond, sans-serif;
	text-align: center;
	background: url('https://s3-us-west-2.amazonaws.com/kallitechnics/ink-spot.jpg') no-repeat;
	background-size: cover;
	background-color:black;
	
;
}

.head {
	text-align: center;
	margin-top:50px;
	text-transform: Uppercase;
	background-color: black;
	color:white;
	width:100%;
	background-radius: 20px
}

.Hello {
	width:100%;
	height: 600px;
	position: relative;
}

p{
	font-size:22px;
	color: white;
	font-family: Garamond, courier, serif;
}
.foot {
	height: 12px;
	font-family: Garamond;
}
